// Variables
$cajasombra: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$blanco: white;
$letraQ: 'Quicksand', sans-serif;
$colorNav1: #e7e7e7;
$colorNav2: #535353;
$colorLogo1: #FC9B98;
$colorLogo2: #FE4063;
$borde1: 2%;
$borde2: 3%;
$borde3: 5%;